body { font-size:100%; }
h1 { font-size:2.25em;  /* 16x2.25=36 */ }
h2 { font-size:1.5em;   /* 16x1.5=24 */ }
h3 { font-size:1.125em; /* 16x1.125=18 */ }
h4 { font-size:0.875em; /* 16x0.875=14 */ }
p  { font-size:1em;  /* 16x1=16 */ }

p { margin: 0; margin-left: 10px;}

body {
  font-family: Georgia, serif;
  color: #959595;
  letter-spacing: 0.1em;
}

span.amp {
  font-family: Baskerville;
  font-style: italic;
  color: #5E8BB5;
}

.opening {
  color: #555;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

body .site {
  margin: 0 auto;
  width: 960px;
}

.title {
  margin-left: 10px;
  margin-top: 5em;
  margin-bottom: 2em;
  color: #333;
  font-style: italic;
}

h1 { color: #333;}

.title h1, .title h2 {
  margin: 0;
}

.title h2 a {
  color: #ccc;
  border-bottom: 0;
}

a:hover {
  border-bottom: 0 !important;
  color: #3F6999 !important;
  background-color: #D9EBFA;
}

.description {
  clear: both;
  margin-left: 10px;
  margin-right: 10px;
}

#contact {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

#contact, #ontheinternet, #resume {
  margin-top: 2em;
  border-top: 1px solid #aaa;
}

h3 {
  margin-bottom: 9px;
  color: #333;
}

h3.project {
  margin-bottom: 0;
  margin-left: 10px;
}

h3 em a {
  color: #555;
}

#ontheinternet, #resume {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

#ontheinternet ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

#ontheinternet ul li {
  padding-bottom: 8px;
}

.at {
  color: #5E8BB5;
}

#ontheinternet a {
  text-decoration: none;
  font-style: italic;
}

.post {
  width: 480px;
  color: #555;
}

.post p {
  margin-bottom: 9px;
}